<% provide(:title, 'Yahoo') %>
<h1>Yahoo</h1>
<head>
    <a href="yahoo.com">goto yahoo</a>>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
 </head>
<p>Find me in app/views/users/new.html.erb</p>